body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.qr-code {
  margin-top: 40px;
}

.instructions {
  margin-top: 40px;
}

.instructions ol {
  text-align: left;
}

.video-wrapper {
  margin-top: 40px;
  background-color: #000;
}

.video-wrapper video {
  width: 100%;
  height: auto;
}
